[submodule "2017/PotatoGame"]
	path = 2017/PotatoGame
	url = https://github.com/razzie/PotatoGame.git
[submodule "2017/razzgravitas"]
	path = 2017/razzgravitas
	url = https://github.com/razzie/razzgravitas
[submodule "2017/dummyserver"]
	path = 2017/dummyserver
	url = https://github.com/razzie/dummyserver
[submodule "2018/raztalk"]
	path = 2018/raztalk
	url = https://github.com/razzie/raztalk.git
[submodule "2018/raztools"]
	path = 2018/raztools
	url = https://github.com/razzie/raztools.git
[submodule "2013/gglib"]
	path = 2013/gglib
	url = https://github.com/razzie/gglib.git
[submodule "2015/gglib2"]
	path = 2015/gglib2
	url = https://github.com/razzie/gglib2.git
[submodule "2016/librazzie"]
	path = 2016/librazzie
	url = https://github.com/razzie/librazzie.git
[submodule "2019/PocceMod"]
	path = 2019/PocceMod
	url = https://github.com/razzie/PocceMod.git
[submodule "2019/riddle-solver"]
	path = 2019/riddle-solver
	url = https://github.com/razzie/riddle-solver.git
[submodule "2018/gorzsony.com"]
	path = 2018/gorzsony.com
	url = https://github.com/razzie/gorzsony.com.git
[submodule "2019/gorzsony.com"]
	path = 2019/gorzsony.com
	url = https://github.com/razzie/gorzsony.com.git
[submodule "2016/floating-islands/src"]
	path = 2016/floating-islands/src
	url = https://github.com/razzie/QubeRaid.git
[submodule "2014/prepi"]
	path = 2014/prepi
	url = https://github.com/razzie/prepi.git
[submodule "2019/ideagen"]
	path = 2019/ideagen
	url = https://github.com/razzie/ideagen.git
[submodule "2019/Doboz.NET"]
	path = 2019/Doboz.NET
	url = https://github.com/razzie/Doboz.NET.git
[submodule "2019/razlink"]
	path = 2019/razlink
	url = https://github.com/razzie/razlink.git
[submodule "2019/github-backup"]
	path = 2019/github-backup
	url = https://github.com/razzie/github-backup.git
[submodule "2019/raztracer"]
	path = 2019/raztracer
	url = https://github.com/razzie/raztracer.git
[submodule "2020/random"]
	path = 2020/random
	url = https://github.com/razzie/random.git
[submodule "2020/uuid-server"]
	path = 2020/uuid-server
	url = https://github.com/razzie/uuid-server.git
[submodule "2020/geoip-server"]
	path = 2020/geoip-server
	url = https://github.com/razzie/geoip-server.git
[submodule "2020/mediaserver"]
	path = 2020/mediaserver
	url = https://github.com/razzie/mediaserver.git
[submodule "2020/file64"]
	path = 2020/file64
	url = https://github.com/razzie/file64.git
[submodule "2020/razbox"]
	path = 2020/razbox
	url = https://github.com/razzie/razbox.git
[submodule "2020/razproxy"]
	path = 2020/razproxy
	url = https://github.com/razzie/razproxy.git
[submodule "2020/razvhost"]
	path = 2020/razvhost
	url = https://github.com/razzie/razvhost.git
[submodule "2020/beepboop"]
	path = 2020/beepboop
	url = https://github.com/razzie/beepboop.git
[submodule "2020/uid"]
	path = 2020/uid
	url = https://github.com/razzie/uid.git
[submodule "2021/riddle-solver-v2"]
	path = 2021/riddle-solver-v2
	url = https://github.com/razzie/riddle-solver.git
[submodule "2021/pizzabot"]
	path = 2021/pizzabot
	url = https://github.com/razzie/pizzabot.git
[submodule "2021/razgio"]
	path = 2021/razgio
	url = https://github.com/razzie/razgio.git
[submodule "2021/go-doboz"]
	path = 2021/go-doboz
	url = https://github.com/razzie/go-doboz.git
[submodule "2022/steamcmd-wine"]
	path = 2022/steamcmd-wine
	url = https://github.com/razzie/steamcmd-wine.git
[submodule "2022/k8s-db-operator"]
	path = 2022/k8s-db-operator
	url = https://github.com/razzie/k8s-db-operator.git
[submodule "2022/raz-stack"]
	path = 2022/raz-stack
	url = https://github.com/razzie/raz-stack.git
[submodule "2022/razvhost-new-features"]
	path = 2022/razvhost-new-features
	url = https://github.com/razzie/razvhost.git
[submodule "2022/stream-manager"]
	path = 2022/stream-manager
	url = https://github.com/razzie/stream-manager.git
[submodule "2022/jsonrpc"]
	path = 2022/jsonrpc
	url = https://github.com/razzie/jsonrpc.git
[submodule "2023/razchess"]
	path = 2023/razchess
	url = https://github.com/razzie/razchess.git
