[submodule "2017/PotatoGame"]
	path = 2017/PotatoGame
	url = https://github.com/razzie/PotatoGame.git
[submodule "2017/razzgravitas"]
	path = 2017/razzgravitas
	url = https://github.com/razzie/razzgravitas
[submodule "2017/dummyserver"]
	path = 2017/dummyserver
	url = https://github.com/razzie/dummyserver
[submodule "2018/raztalk"]
	path = 2018/raztalk
	url = https://github.com/razzie/raztalk.git
[submodule "2018/raztools"]
	path = 2018/raztools
	url = https://github.com/razzie/raztools.git
[submodule "2013/gglib"]
	path = 2013/gglib
	url = https://github.com/razzie/gglib.git
[submodule "2015/gglib2"]
	path = 2015/gglib2
	url = https://github.com/razzie/gglib2.git
[submodule "2016/librazzie"]
	path = 2016/librazzie
	url = https://github.com/razzie/librazzie.git
[submodule "2019/PocceMod"]
	path = 2019/PocceMod
	url = https://github.com/razzie/PocceMod.git
