/* Görzsöny Gábor */
A
   {text-decoration: underline;	color: #000000}
A:hover
   {text-decoration: none;	color: #888888}

.link
   {text-decoration: none;	color: #000000}
.link:hover
   {text-decoration: none;	color: #888888}

.menu_title {
  width:        	150px;
  height:		23px;
  color:           	#000000;
  background-image:	url('../images/menu_title.jpg');
  font-weight:     	bold;
  text-align:		center; 
  background-repeat:	no-repeat;
}

.menu_box {
  width:		138px;
  background-color:	#FFFFFF;
  padding:		5px 5px 5px 5px;
  border-left-width:	1px;
  border-right-width:	1px;
  border-top-width:	0px;
  border-bottom-width:	1px;
  border-color:		#C0C0C0;
  border-style:		solid;
}

a.menuitem_left {
  width:		135px;
  height:		18px;
  color:		#000000;
  font-size:		12pt;
  padding:		2px 0px 2px 15px;
  background-image:	url(../images/menuitem1_left.jpg);
  background-color:	#C0C0C0;
  background-repeat:	no-repeat;
  display:		block;
  text-align:		left;
  text-decoration:	none;
}

a.menuitem_left:hover {
  width:		135px;
  height:		18px;
  color:		#000000;
  font-weight:		bold; 
  font-size:		12pt;
  padding:		2px 0px 2px 15px;
  background-image:	url(../images/menuitem2_left.jpg);
  background-color:	#C0C0C0;
  background-repeat:	no-repeat;
  display:		block;
  text-align:		left;
  text-decoration:	none;
}

a.menuitem_right {
  width:		135px;
  height:		18px;
  color:		#000000;
  font-size:		12pt;
  padding:		2px 15px 2px 0px;
  background-image:	url(../images/menuitem1_right.jpg);
  background-color:	#C0C0C0;
  background-repeat:	no-repeat;
  display:		block;
  text-align:		right;
  text-decoration:	none;
}

a.menuitem_right:hover {
  width:		135px;
  height:		18px;
  color:		#000000;
  font-weight:		bold; 
  font-size:		12pt;
  padding:		2px 15px 2px 0px;
  background-image:	url(../images/menuitem2_right.jpg);
  background-color:	#C0C0C0;
  background-repeat:	no-repeat;
  display:		block;
  text-align:		right;
  text-decoration:	none;
}

.logo {
  width:		900px;
  height:		140px;
  background-image:	url(../images/logo.jpg);
  background-repeat:	no-repeat;
}

.shadow_left {
  width:		10px;
  background-image:	url(../images/shadow_left.jpg);
  background-repeat:	repeat-y;
}

.shadow_right {
  width:		10px;
  background-image:	url(../images/shadow_right.jpg);
  background-repeat:	repeat-y;
}

.shadow_top {
  height:		10px;
  background-image:	url(../images/shadow_top.jpg);
  background-repeat:	repeat-x;
}

.shadow_bottom {
  height:		10px;
  background-image:	url(../images/shadow_bottom.jpg);
  background-repeat:	repeat-x;
}

.shadow_top_left {
  width:		10px;
  height:		10px;
  background-image:	url(../images/shadow_top_left.jpg);
}

.shadow_top_right {
  width:		10px;
  height:		10px;
  background-image:	url(../images/shadow_top_right.jpg);
}

.shadow_bottom_left {
  width:		10px;
  height:		10px;
  background-image:	url(../images/shadow_bottom_left.jpg);
}

.shadow_bottom_right {
  width:		10px;
  height:		10px;
  background-image:	url(../images/shadow_bottom_right.jpg);
}

.table_border {
  width:		100%;
  background-color:	#FFFFFF;
  border-width:		1px;
  border-color:		#BBBBBB;
  border-style:		solid;
}

.table_title {
  background-image:	url(../images/grey_bar.jpg);
}

.table_field {
  background-color:	#FFFFFF;
  height:		40px;
  border-width:		1px;
  border-color:		#FFFFFF;
  border-style:		solid;
}

.table_dark_line {
  height:		1px;
  background-color:	#BBBBBB;
}

.page_box {
  width:		15px;
  height:		15px;
  background-color:	#F0F0F0;
  padding:		2px 2px 2px 2px;
  font-size:		10pt;
  font-weight:		bold;
  text-align:		center; 
  float:		left;
  border-width:		1px;
  border-color:		#666666;
  border-style:		solid;
}

.dashed_line {
  width:            	100%;
  border-style:    	dashed;
  color:           	#888888;
}

.date {
  font-size:		12px;
  color:		#666666;
}

.title {
  width:		560px;
  font-size:		30px; 
  background-image:	url('../images/title.jpg');
  text-align:		center;
}

.news_title {
  width:		560px;
  height:		35px;
  font-size:		25px; 
  background-image:	url('../images/title.jpg');
}

.entry_title {
  width:		500px;
  height:		21px;
  background-image:	url(../images/entry_title.jpg);
  text-align:		left;
}

.entry_answer {
  width:		60px;
  height:		21px;
  background-image:	url(../images/reply.jpg);
  text-align:		center;
}

.entry_box {
  width:		560px;
  border-width:		1px;
  border-color:		#C0C0C0;
  border-style:		solid;
}

.entry_info_box {
  width:		560px;
  background-color:	#F0F0F0;
  padding:		0px 5px 0px 5px;
  border-left-width:	0px;
  border-right-width:	0px;
  border-top-width:	1px;
  border-bottom-width:	0px;
  border-color:		#C0C0C0;
  border-style:		solid;
}

.entry_text_box {
  width:		460px;
  background-color:	#FFFFFF;
  padding:		10px 10px 10px 10px;
}

.quote_box {
  width:		95%;
  padding:		5px 5px 5px 5px;
  text-align:		left;
  border-width:		1px;
  border-color:		#C0C0C0;
  border-style:		solid;
}

.avatar_box {
  width:		100px;
  background-color:	#F0F0F0;
  padding:		10px 10px 10px 10px;
  text-align:		center;
}

.avatar {
  border-width:		1px;
  border-color:		#666666;
  border-style:		solid;
}

.vote {
  width:		100px;
  height:		8px;
  float:		left;
  border-left-width:	1px;
  border-right-width:	1px;
  border-top-width:	1px;
  border-bottom-width:	1px;
  border-color:		#AAAAAA;
  border-style:		solid;
}

.vote_green {
  height:		8px;
  background-image:	url('../images/vote.jpg');
}

.percent {
  font-size:		10px;
  font-weight:		bold;
  text-decoration:	none;
}

.copyright {
  border-top-width:	1px;
  border-bottom-width:	0px;
  border-left-width:	0px;
  border-right-width:	0px;
  border-color:		#D0D0D0;
  border-style:		solid;
  font-weight:     	bold;
  text-align:		center; 
}

.red_line {
  width:		99%;
  height:		20px;
  background-image:	url('../images/red_bar.jpg');
  color:		#FFFFFF;
  font-weight:		bold;
  text-align:		center;
  border-width:		1px;
  border-color:		#000000;
  border-style:		solid;
}

.green_line {
  width:		99%;
  height:		20px;
  background-image:	url('../images/green_bar.jpg');
  color:		#000000;
  font-weight:		bold;
  text-align:		center;
  border-width:		1px;
  border-color:		#000000;
  border-style:		solid;
}

.button {
  width:		80px;
  height:		20px;
  background-color:	#FFFFFF;
  border-width:		1px;
  border-color:		#000000;
  border-style:		solid;
}

.thumb {
  width:		125px;
  border-width:		1px;
  border-color:		#000000;
  border-style:		solid;
}

.thumb_dotted {
  width:		125px;
  border-width:		1px;
  border-color:		#000000;
  border-style:		dashed;
}


BODY {
  font-size:		15px;
  margin-top:    	0px;
  margin-bottom: 	0px;
  margin-left:   	0px;
  margin-right:  	0px;
}
